// https://react-bootstrap.github.io/getting-started/introduction/#sass
@import "~bootstrap/scss/bootstrap";

.navbar-brand {
  img {
    height: 100px;
    width: 100px;
  }
}

.navbar-collapse {
  text-align: center;
  display: block !important;

  h2 {
    color: white;
  }
}

.detect {
  margin: 20px;
  padding: 10px;
  height: 60px;
  border: 2px solid red !important;
  border-radius: 8px;
  background-color: yellow;
  text-align: center;
  display: block !important;

  h3 {
    color: blue;
  }
}

.card {
  width: 100%;

  img {
    height: 250px;
    width: 210px;
  }

  h6 {
    color: red;
    text-align: center;
    font-weight: bold;
  }
}
